@import './arquivos/variables';
@import './arquivos/header';
@import './arquivos/container-relogio';
@import './arquivos/contador-de-foco';
@import './arquivos/campo-tarefas';


/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


/* Reset de Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    max-width: 510px;
    min-width: 360px;
    margin: auto;
    background-color: var(--cor-terciaria);
    font-family: var(--font-texto);
}

