@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --font-logo:"Nerko One", cursive;
  --font-texto:"Space Mono", monospace;
  --cor-principal:#472D2D;
  --cor-segundaria:#704F4F;
  --cor-terciaria:#A77979;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-terciaria);
  font-family: var(--font-texto);
}

header {
  text-align: left;
  margin: 1rem;
  border-bottom: 1px solid var(--cor-principal);
}
header h1 {
  font-family: var(--font-logo);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #FFF;
  margin-bottom: 1rem;
}
header h1 span {
  color: var(--cor-principal);
}

.container-relogio {
  background-color: var(--cor-segundaria);
  margin: 1.5rem 1rem;
  border-radius: 6px;
}
.container-relogio .tipo-foco {
  padding: 1rem 0;
  text-align: center;
  margin: auto;
}
.container-relogio .tipo-foco ul {
  display: inline-flex;
  gap: 1rem;
}
.container-relogio .tipo-foco ul li {
  list-style: none;
}
.container-relogio .tipo-foco ul li .active {
  background-color: var(--cor-principal);
}
.container-relogio .tipo-foco ul li button {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--cor-principal);
  padding: 0 2rem;
  height: 40px;
  border-radius: 4px;
}
.container-relogio .tipo-foco ul li button img {
  width: 20px;
}
.container-relogio .tipo-foco ul li button span {
  display: none;
}
.container-relogio .timer {
  font-size: 6rem;
  color: #FFF;
  text-align: center;
}
.container-relogio .botao-start {
  text-align: center;
}
.container-relogio .botao-start button {
  font-weight: 700;
  background-color: #FFF;
  border: none;
  color: var(--cor-principal);
  font-size: 2.25rem;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.contator_de_foco {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.contator_de_foco p {
  font-weight: 300;
}

.campo__tarefas {
  margin: 1rem;
}
.campo__tarefas .tarefas {
  color: var(--cor-principal);
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid var(--cor-principal);
  padding-bottom: 1rem;
}
.campo__tarefas .tarefas .opcaos {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: var(--cor-segundaria);
}
.campo__tarefas .tarefas .opcaos img {
  width: 18px;
  height: 18px;
}
.campo__tarefas .adicionar__tarrefas {
  color: #FFF;
  transition: 1s;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0;
  border: 2px dashed var(--cor-principal);
}
.campo__tarefas .adicionar__tarrefas:hover {
  background-color: #704F4F;
}
.campo__tarefas .ocuto {
  display: none;
}
.campo__tarefas .adicionando__tareffas {
  transition: 1s;
  border-radius: 2px;
  margin-top: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cor-segundaria);
  color: #FFF;
  padding: 1rem;
}
.campo__tarefas .adicionando__tareffas input {
  width: 100%;
  padding: 1rem 0;
  border: none;
  background-color: #704F4F;
}
.campo__tarefas .adicionando__tareffas input::-moz-placeholder {
  font-family: var(--font-texto);
  color: #FFF;
}
.campo__tarefas .adicionando__tareffas input::placeholder {
  font-family: var(--font-texto);
  color: #FFF;
}
.campo__tarefas .adicionando__tareffas .btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}
.campo__tarefas .adicionando__tareffas .btns button {
  font-family: var(--font-texto);
  border: none;
  background-color: var(--cor-terciaria);
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid var(--cor-principal);
}
.campo__tarefas .adicionando__tareffas .btns button:hover {
  background: var(--cor-principal);
  color: #FFF;
}
.campo__tarefas .ativo {
  display: flex;
}/*# sourceMappingURL=styles.css.map */