

/* Definição de Variáveis */
:root {
    --font-logo: 'Nerko One', cursive;
    --font-texto: 'Space Mono', monospace;
    --cor-principal: #472D2D;
    --cor-segundaria: #704F4F;
    --cor-terciaria: #A77979;
}
